:root {
  --clr-primary: #a59678;
  --clr-light: #fff;
  --clr-gray: #e2e3e6;
  --clr-semi-dark: #3b4050;
  --clr-dark: #2e323f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  margin: 0;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
  transition: opacity 0.5s ease;
}

a:hover,
a:focus {
  opacity: 0.6;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0.5em 0;
}

.primary-text {
  color: var(--clr-primary);
}

.btn {
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 0.2em 1em;
  border-radius: 25px;
  text-transform: uppercase;
}

.container {
  width: min(1200px, 90%);
  margin: 0 auto;
  padding: 0 0.5em;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

p {
  font-size: clamp(0.8rem, 1vw, 1rem);
}

/* Layout Classes */
.header {
  font-family: "oswald";
}

.nav {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  min-height: 5rem;
}

.logo {
  font-size: 1.5rem;
}

.nav-link {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: var(--clr-light);
  margin: 0 0.5em;
}

/* Hero Section */
.hero {
  background-color: var(--clr-semi-dark);
  color: var(--clr-light);
  min-height: 25rem;
  padding: 3em 0;
}

.hero-text {
  font-size: clamp(2.5rem, 7vw, 5rem);
  line-height: 1.2;
  padding: 0 0 1em;
}

.hero-content {
  font-family: "Montserrat", sans-serif;
}

.hero-col-2 {
  font-size: clamp(1rem, 4vw, 1.3rem);
}
/* Section One */
.section-one {
  padding: 1.5em 0;
  background-color: var(--clr-gray);
  text-align: center;
}

.section-one .col {
  margin: 2em 0;
}

.section-one-header {
  font-family: "Oswald";
  color: var(--clr-primary);
  font-size: clamp(1.2rem, 4vw, 1.66rem);
}

/* Main Section */
.main-section {
  padding: 2em 0;
}
.main-header {
  color: var(--clr-primary);
  font-size: clamp(1.3rem, 5vw, 2rem);
  text-align: center;
}

.main-content {
  font-size: clamp(0.85rem, 3vw, 1.16rem);
}

.img-container {
  padding: 1em 0;
}

/* Aside Section */
.aside {
  margin-top: 2em;
}

.box {
  background-color: var(--clr-semi-dark);
  color: var(--clr-light);
  padding: 1em 1.5em;
  text-align: center;
  margin-bottom: 2em;
}

.box-title {
  font-size: clamp(1.2rem, 2vw, 1.66rem);
}

/* Footer Section */
.main-footer {
  background-color: var(--clr-semi-dark);
  padding: 2em 0;
  color: var(--clr-light);
}

.footer-header {
  font-size: clamp(1.3rem, 5vw, 2rem);
  text-align: center;
  padding: 1.5rem 0;
}

.footer-col-header {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--clr-primary);
}

.footer-row .col {
  margin: 1.5em 0;
}

.footer-row a {
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: var(--clr-light);
}

@media (min-width: 700px) {
  .section-one .row {
    display: flex;
    gap: 2em;
  }

  .main-header {
    text-align: left;
  }

  .img-container {
    max-height: 400px;
    overflow: hidden;
  }

  .main-img {
    object-position: 0 -70px;
  }

  /* Aside Section */
  .aside {
    display: flex;
    gap: 1em;
  }

  .footer-row {
    display: flex;
    gap: 1em;
  }

  .footer-row .col.footer-col-about {
    flex: 2;
  }

  .footer-row > .col {
    flex: 1;
  }
}

@media (min-width: 1000px) {
  .nav {
    min-height: unset;
  }

  .nav .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
  }

  .row {
    display: flex;
    gap: 2em;
  }

  .hero {
    padding: 4.5em 0;
  }

  .hero-content {
    font-size: clamp(0.8rem, 2vw, 1.33rem);
  }

  .hero-text {
    padding: unset;
  }

  .hero-col-2 {
    font-size: clamp(1rem, 4vw, 1.3rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  /* Section One */
  .section-one .row {
    gap: 5em;
  }

  /* Main Section */
  .main-section {
    padding: 5em 0;
  }

  .main-section > .row {
    gap: 5em;
  }

  .img-container {
    max-height: unset;
    overflow: unset;
  }

  .main-img {
    object-position: unset;
  }

  /* Aside Section */
  .aside {
    margin-top: 0;
    flex-direction: column;
    gap: unset;
  }

  /* Footer  */
  .main-footer p,
  .main-footer a {
    color: var(--clr-gray);
  }
}
